/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  /* max-width: 100%; */
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
img {
  width: 100%;
}

/* style ui */
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.section_nav {
  display: grid;
  grid-template-columns: 17% 50% 32%;
  justify-content: space-between;
  background-color: #fff;
  height: 100px;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}
.left_nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.section-logo {
  display: flex;
  align-items: center;
}
.box-img-logo {
  min-width: 50px;
}
.box-img-logo h3 {
  font-size: 12rem;
  color: red;
}
/* navbar link  */
.active {
  background-image: linear-gradient(71deg, #3ac2ff 50%, #2f56ff);
  color: #fff;
  padding: 12px;
  border-radius: 22px;
  font-weight: bold;
}
.center_nav {
  /* width: 50%; */
}
.center_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* right nav */

.right_nav {
  display: flex;
  justify-content: end;
  align-items: center;
  /* gap: 2.5rem; */
}
.group_icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}
.status-connection {
  width: 57px;
  color: #1f927f;
  background-color: #edfdfa;
  padding: 0.4rem;
  border-radius: 5px;
  text-align: center;
}
.user_section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile_user {
  width: 50px;
  height: 50px;
}
.profile_user img {
  border-radius: 100%;
}

#toggle_nav:checked + label + ul {
  transform: translate(0);
}
#toggle_nav:checked + label span:first-child {
  transform: rotate(127deg);
  position: relative;
  top: 7px;
}
#toggle_nav:checked + label span.line_mid {
  transform: translate(10px);
  opacity: 0;
}
#toggle_nav:checked + label span:last-child {
  transform: rotate(58deg);
  position: relative;
  top: -2px;
}
@media screen and (max-width: 999px) {
  .box-img-logo {
    min-width: 36px;
  }
  .section-logo h3 {
    font-size: 0.8rem;
  }
  .section-logo {
    font-size: 0.9rem;
  }
  .center_nav ul li a {
    font-size: 0.8rem;
  }
  .active {
    padding: 6px;
  }
  .group_icons {
    gap: 1rem;
    margin-right: 1rem;
  }
  .group_icons a svg {
    width: 13px;
  }
  .status-connection {
    width: 57px;
    padding: 0.2rem;
    font-size: 0.8rem;
  }
  .profile_user {
    width: 40px;
    height: 40px;
  }

  /* .section_nav {
    grid-template-columns: 13% 42% 24%;
  } */
}
@media screen and (min-width: 768px) {
  .nav_mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .center_nav {
    display: none;
  }
  .section_nav {
    grid-template-columns: 25% 56% 3%;
  }
  .list_nav_mobile {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-x: hidden;
    text-align: left;
    padding: 2rem 0 2rem 2rem;
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100%;
    top: 0;
    width: 200px;
    transform: translate(-350px);
    transition: all 250ms ease-out;
  }
  .label_toggle_nav {
    position: relative;
    top: 29px;
  }
  .line {
    border-bottom: 2px solid;
    width: 14px;
    display: block;
    margin-bottom: 3px;
    transition: all 260ms ease-out;
  }
}
@media screen and (max-width: 576px) {
  .section_nav {
    grid-template-columns: 32% 57% 3%;
  }
  .section-logo h3 {
    font-size: 0.7rem;
  }
  .status-connection {
    display: none;
  }
  .profile_user::before {
    content: "";

    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #1f927f;
    border-radius: 50%;
  }
}
