/* style navigation site */
.header_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  padding: 1rem;
}
.logo_nav a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4c48ee;
}
.header_container nav {
  display: flex;
  gap: 1.2rem;
}
.header_container nav li a {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}
.header_container nav li a:hover {
  color: #4c48ee;
}
.header_container nav li:not(:last-child) a:hover {
  color: #4c48ee;
}
.header_container nav li a.active {
  color: #fff;
  background-color: #4c48ee;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}
.header_container nav li a.active:hover {
  background-color: #0f1e6e;
}

/* style header site */
.section_content_header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 100px);
  gap: 5rem;
}

/* style left header site */
.left_content_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left_content_header h1 {
  font-size: 3rem;
  width: 100%;
  line-height: 3.5rem;
}
.left_content_header h1 span:nth-child(1) {
  font-weight: 400;
}
.left_content_header h1 span:nth-child(2) {
  font-weight: 700;
  color: #0f1e6e;
}
.left_content_header h1 span:nth-child(3) {
  font-weight: 700;
  color: #4c48ee;
}
.left_content_header p {
  margin: 2.5rem 0;
  color: #333;
}
.left_content_header form {
  display: flex;
  align-items: center;
  width: 100%;
}
.left_content_header form button {
  border: none;
  background-color: #5c48f2;
  padding: 1rem;
  color: #fff;
  white-space: nowrap;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.left_content_header form input {
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-size: 0.8rem;
  max-width: 300px;
  width: 100%;
  outline: 0;
}
/* style right header site */
.right_content_header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  place-content: center;
}
.right_content_header img {
  max-width: 300px;
}
.right_content_header img:nth-child(1) {
  transform: translateY(30px);
  border-radius: 10px;
}

.right_content_header img:nth-child(2) {
  transform: translateY(-33px);
  border-radius: 10px;
}

.content_img_text {
  background-image: linear-gradient(
    to right,
    rgba(92, 72, 238, 0.6),
    rgba(15, 30, 106, 0.4)
  );
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -5%);
  backdrop-filter: blur(10px);
}
.content_img_text ul li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

/* responsive  */
@media screen and (max-width: 999px) {
  .header_container nav {
    display: none;
  }
  .section_content_header {
    grid-template-columns: repeat(1, 1fr);
  }
  .left_content_header {
    text-align: center;
  }
  .left_content_header form {
    justify-content: center;
  }
  .right_content_header img:nth-child(2) {
    transform: translate(0);
  }
  .right_content_header img:nth-child(1) {
    transform: translate(0);
  }
  /*  */
  .mobile_menu {
    position: fixed;
    top: 37px;
    right: 22px;
  }

  #toggle_nav {
    display: none;
  }
  .line {
    border-bottom: 2px solid;
    width: 14px;
    display: block;
    margin-bottom: 3px;
    transition: all 260ms ease-out;
  }
  .content_img_text {
    transform: translate(-35%, -5%);
  }
  #toggle_nav:checked + label + ul {
    transform: translate(0);
  }
  #toggle_nav:checked + label span:first-child {
    transform: rotate(127deg);
    position: relative;
    top: 7px;
  }
  #toggle_nav:checked + label span.line_mid {
    transform: translate(10px);
    opacity: 0;
  }
  #toggle_nav:checked + label span:last-child {
    transform: rotate(58deg);
    position: relative;
    top: -2px;
  }
  .list_nav_mobile {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-x: hidden;
    text-align: left;
    padding: 2rem 0 2rem 2rem;
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100%;
    top: 0;
    width: 200px;
    transform: translate(-350px);
    transition: all 250ms ease-out;
  }
}
@media screen and (min-width: 999px){
.list_nav_mobile{
  display: none;
}
}
@media screen and (max-width: 640px) {
  .content_img_text {
    max-width: 250px;
    transform: translate(-51%, -5%);
  }
  .content_img_text ul li {
    font-size: 0.8rem;
  }
}
